<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include modules/head.ejs %>
  </head>
  <body>
    <%- include modules/navbar.ejs %>

    <main>
      <div class="container-xxl">
        <form
          action="/doctor/edit/<%= doctor.doctor_id %>?h=<%= hospital_id %>"
          method="post"
          class="form-register my-5"
        >
          <fieldset>
            <legend>Modifica los datos del médico</legend>
            <p style="color: red">
              <%= typeof message != 'undefined' ? message : null %>
            </p>
            <div>
              <label for="name" class="form-label">Nombre *</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                value="<%= doctor.name %>"
                placeholder="Introduce el nombre"
              />
            </div>
            <div>
              <label for="lastname" class="form-label mt-4">Apellidos *</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                value="<%= doctor.last_name %>"
                placeholder="Introduce los apellidos"
              />
            </div>
            <div>
              <label for="degree" class="form-label mt-4">Licenciatura *</label>
              <input
                type="text"
                class="form-control"
                id="degree"
                name="degree"
                value="<%= doctor.degree %>"
                placeholder="Introduce la licenciatura"
              />
            </div>

            <div>
              <label for="speciality" class="form-label mt-4"
                >Example select</label
              >
              <select class="form-select" id="speciality" name="speciality">
                <% specialities.forEach(speciality => { %>
                  <option value="<%= speciality.speciality_id %>" 
                    <%= speciality.speciality_id === doctor.speciality_id ? "selected" : "" %>>
                    <%= speciality.name %>
                  </option>
                <% }); %>
              </select>
            </div>
            <div>
              <label for="description" class="form-label mt-4"
                >Descripción</label
              >
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="3"
              ><%= doctor.description %>    
            </textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">
              Editar
            </button>
          </fieldset>
        </form>
      </div>
    </main>

    <%- include modules/footer.ejs %>
  </body>
</html>
