<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include modules/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/hospital.css" />
  </head>
  <body>
    <%- include modules/navbar.ejs %>

    <main class="hospital-main">
      <div class="container-xxl">
        <section
          class="hospital-info row align-items-center justify-content-center flex-lg-row"
        >
          <img
            src="/images/<%= hospital.image ? 'hospital/' + hospital.image : 'assets/null_image.png' %>"
            alt="hospital"
            class="hospital-img col-12 col-md-6"
          />
          <div class="hospital-details col-12 col-md-6">
            <h1 class="hospital-name"><%= hospital.name %></h1>
            <p class="hospital-description"><%= hospital.description %></p>
            <p class="hospital-address">
              <strong>Dirección:</strong> <%= hospital.address %>
            </p>
            <p class="hospital-city">
              <strong>Ciudad:</strong> <%= hospital.city %>
            </p>
            <p class="hospital-email">
              <strong>Email:</strong> <%= hospital.email %>
            </p>
            <p class="hospital-phone">
              <strong>Teléfono:</strong> <%= hospital.phone_number %>
            </p>
            <div class="hospital-actions">
              <a
                href="/doctor/new/<%= hospital.hospital_id %>"
                class="btn btn-primary"
                >Añadir médico</a
              >
              <a
                href="/hospital/edit/<%= hospital.hospital_id %>"
                class="btn btn-warning"
                >Editar</a
              >
              <a
                href="/hospital/delete/<%= hospital.hospital_id %>"
                class="btn btn-danger"
                >Eliminar</a
              >
            </div>
          </div>
        </section>

        <section class="doctor-list">
          <h2 class="section-title mb-5">Doctores</h2>
          <div class="row justify-content-center align-items-center gap-4">
            <% if (doctors.length == 0) { %>
            <p>No hay doctores registrados</p>
            <% } else { %> <% doctors.forEach((doctor) => { %>
            <div class="col-12 col-md-4 col-lg-3 doctor-card">
              <div class="card">
                <img
                  src="/images/<%= doctor.image ? 'doctor/' + doctor.image : 'assets/null_image.png' %>"
                  class="card-img-top"
                  alt="Imagen del doctor"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <%= doctor.name %> <%= doctor.last_name %>
                  </h5>
                  <h6 class="card-subtitle text-muted">
                    <%= doctor.speciality %>
                  </h6>
                  <p class="card-text"><%= doctor.degree %></p>
                  <p class="card-text"><%= doctor.description %></p>
                </div>
                <div class="card-footer">
                  <a
                    href="/doctor/edit/<%= doctor.doctor_id %>?h=<%= hospital.hospital_id %>"
                    class="btn btn-primary"
                    >Editar</a
                  >
                  <a
                    href="/doctor/delete/<%= doctor.doctor_id %>?h=<%= hospital.hospital_id %>"
                    class="btn btn-danger"
                    >Eliminar</a
                  >
                </div>
              </div>
            </div>
            <% }) } %>
          </div>
        </section>
      </div>
    </main>

    <%- include modules/footer.ejs %>
  </body>
</html>
