<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('modules/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/hospital.css" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('modules/navbar.ejs') %>

    <main class="container my-5 flex-grow-1">
      <h1 class="text-center mb-4">Resultados de la búsqueda</h1>

      <%- include('components/hospital_search.ejs') %> <% if (hospitals.length >
      0) { %>
      <div class="row">
        <% hospitals.forEach(hospital => { %>
        <div class="col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm">
            <% if (hospital.image) { %>
            <img
              src="/images/hospital/<%= hospital.image %>"
              class="card-img-top"
              alt="<%= hospital.name %>"
            />
            <% } else { %>
            <img
              src="/images/assets/null_image.png"
              class="card-img-top"
              alt="Imagen por defecto"
            />
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= hospital.name %></h5>
              <p class="card-text">
                <strong>Ciudad:</strong> <%= hospital.city %><br />
                <strong>Dirección:</strong> <%= hospital.address %><br />
                <strong>Teléfono:</strong> <%= hospital.phone_number %>
              </p>
              <a
                href="/hospital/show/<%= hospital.hospital_id %>"
                class="btn btn-primary"
                >Ver más</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% } else { %>
      <p class="text-center text-muted">
        No se encontraron hospitales. Por favor, intenta nuevamente.
      </p>
      <% } %>
    </main>

    <%- include('modules/footer.ejs') %>
  </body>
</html>
