<!DOCTYPE html>
<html>
  <head>
    <%- include modules/head.ejs %>
    <link rel="stylesheet" href="stylesheets/index.css" />
  </head>
  <body>
    <%- include modules/navbar.ejs %>

    <main>
      <!-- HERO -->
      <%- include modules/index_hero.ejs %>
      <!-- END HERO -->

      <!-- HOSPITALS -->
      <%- include modules/index_hospitals.ejs %> %>
      <!-- END HOSPITALS -->

      <!-- STATISTICS -->
      <%- include modules/index_statistics.ejs %>
      <!-- END STATISTICS -->

      <!-- DOCTORS -->
      <%- include modules/index_doctors.ejs %>
      <!-- END DOCTORS -->

      <!-- HOW WORKS -->
      <%- include modules/index_how_works.ejs %>
      <!-- END HOW WORKS -->
    </main>

    <!-- FOOTER -->
    <%- include modules/footer.ejs %>
    <!-- END FOOTER -->

    <script src="javascripts/index.js"></script>
  </body>
</html>
