<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include modules/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/doctor.css" />
  </head>
  <body>
    <%- include modules/navbar.ejs %>

    <main class="bg-primary-subtle py-5">
      <div class="container-xxl">
        <form
          action="/doctor/create/<%= hospital_id %>"
          method="post"
          class="form-register"
          enctype="multipart/form-data"
        >
          <fieldset>
            <legend>Añade un nuevo médico a tu hospital</legend>
            <p style="color: red">
              <%= typeof message != 'undefined' ? message : null %>
            </p>

            <div class="form-group">
              <label for="name" class="form-label">Nombre *</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Introduce el nombre"
              />
            </div>

            <div class="form-group mt-2">
              <label for="lastname" class="form-label">Apellidos *</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                placeholder="Introduce los apellidos"
              />
            </div>

            <div class="form-group mt-2">
              <label for="degree" class="form-label">Licenciatura *</label>
              <input
                type="text"
                class="form-control"
                id="degree"
                name="degree"
                placeholder="Introduce la licenciatura"
                autocomplete="off"
              />
            </div>

            <div class="form-group mt-2">
              <label for="speciality" class="form-label">Especialidad *</label>
              <select class="form-select" id="speciality" name="speciality">
                <option value="">Selecciona una especialidad</option>
                <% specialities.forEach(speciality => { %>
                <option value="<%= speciality.speciality_id %>">
                  <%= speciality.name %>
                </option>
                <% }); %>
              </select>
            </div>

            <div class="form-group mt-2">
              <label for="description" class="form-label">Descripción</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="3"
              ></textarea>
            </div>

            <div class="form-group mt-2">
              <label for="image" class="form-label"
                >Sube la foto del médico</label
              >
              <input class="form-control" type="file" id="image" name="img" />
            </div>

            <button type="submit" class="btn btn-primary mt-3">
              Registrar
            </button>

            <button
              type="button"
              onclick="window.location.href='/hospital/show/<%= hospital_id %>'"
              class="btn btn-danger mt-2"
            >
              Cancelar
            </button>
          </fieldset>
        </form>
      </div>
    </main>

    <%- include modules/footer.ejs %>
  </body>
</html>
